# Nicepage-generated legacy quarantine: retained for checksum attestation only.
/4-days-tour_67186623.html linguist-generated=true linguist-vendored=true
/Azerbaijan_31890772.html linguist-generated=true linguist-vendored=true
/Baku-Tour_92202027.html linguist-generated=true linguist-vendored=true
/Baku_83519103.html linguist-generated=true linguist-vendored=true
/Gebele-Tour_47048317.html linguist-generated=true linguist-vendored=true
/Shamakha-_58120323.html linguist-generated=true linguist-vendored=true
/TCtravel_30109399.html linguist-generated=true linguist-vendored=true
/Transcaucasus_40158431.html linguist-generated=true linguist-vendored=true
/site.json linguist-generated=true linguist-vendored=true
